@font-face {
    font-family: 'Open Sans';
    src: url('Fuentes/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

:root {
    --strongColor: #3ac92a;
    --secondaryColor: #ff6f00;
    --whiteColor: #ffffff;
    --blackColor: #000000;
    --greyColor: #3b3b3b;
    --lightGreyColor: #777777;
    --primaryFont: "Open Sans", Sans-serif;
    --secondaryFont: "Roboto", sans-serif;
    --smallTitleFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    all: unset;
}

button {
    all: unset;
}

img {
    width: 100%;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    font-family: var(--headerFontSize);
    font-size: var(--headerFontSize);
    color: var(--strongColor);
}

body {
    margin: 0;
    font-family: var(--secondaryFont);
    font-size: var(--bodyFontSize);
    color: var(--greyColor);
}

.common-padding, #section-galeria .text-container {
    max-width: 90rem;
    padding: 0 24px;
}

h1, h2, h3, .small-title {
    font-family: var(--primaryFont);
    text-transform: uppercase;
    margin: 1rem auto;
    font-weight: 900;
}

h2 {
    margin-top: 0;
    font-size: 1.5rem;
}

h2, h3 {
    color: var(--blackColor);
    position: relative;
    margin-bottom: 2rem;
}

h2::after, 
h3::after {
    content: " ";
    position: absolute;
    top: 128%;
    left: calc(50% - 20px);
    width: 40px;
    height: 2px;
    background-color: var(--strongColor);
}

.small-title {
    margin: 0;
    color: gray;
}

p {
    color: var(--lightGreyColor);
    line-height: 1.75rem;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 10000;
    width: 100%;
    margin: 0 auto;
    font-family: var(--headerFontSize);
    font-size: var(--headerFontSize);
    color: var(--blackColor);
    background-color: transparent;
    align-content: center;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

header.scrolled {
    background-color: #212121;
    box-shadow: 0 -6px 16px var(--blackColor);
}

header::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 0vh;
    background-color: #00000099;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    opacity: 0;
    top: 0;
    right: 0;
    z-index: -11;
    transform: height 0.3s, opacity 0.3s;
    transition: opacity 0.3s ease-in-out;
}

header.active::before {
    height: 150vh;
    opacity: 1;
}

#header-padding {
    width: 100%;
}


.header-div-top {
    width: 100%;
    margin: 0;
    padding: clamp(0.75rem, 2vw, 1.5rem);
    display: flex;
    justify-content: space-between;
    gap: 4vw;
    align-items: center;
    height: 4.5rem;
    line-height: 0;
}

.header-div-logo-container {
    max-width: 100%;
    text-align: left;
    margin: 0;
    cursor: pointer;
}

.header-div-logo-container img {
    border-radius: 0;
    height: 2rem;
    width: 100%;
}

#header-logo-container-desktop {
    display: none;
}

#hamburguer-menu-icon {
    max-width: 20%;
    min-width: 42px;
    display: block;
    cursor: pointer;
    margin: 0;
}

#hamburguer-menu-icon.active {
    cursor: pointer;
}

.bar {
    display: block;
    max-width: 8vw;
    height: 3px;
    margin: 5px auto;
    background-color: var(--whiteColor);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.2s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

#hamburguer-menu-icon.active .bar {
    background-color: var(--blackColor);
}


#hamburguer-menu-icon.active .bar:nth-child(1) {
    opacity: 0;
}

#hamburguer-menu-icon.active .bar:nth-child(2) {
    transform: translateY(4px) rotate(45deg);
}

#hamburguer-menu-icon.active .bar:nth-child(3) {
    transform: translateY(-4px) rotate(-45deg);
}

nav {
    font-size: 1.125rem;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--whiteColor);
    top: -48px;
    left: 0;
    gap: 0;
    z-index: -1;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
}

nav.active {
    transform: translateY(10%);
    transition-delay: .2s;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 16vh 0 12vh;
    margin: 0;
    text-align: right;
}

nav ul li {
    font-family: var(--primaryFont);
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--blackColor);
    list-style-type: none;
    cursor: pointer;
    padding: 1rem 4rem 1rem 2rem;
    margin: 0;
}

nav hr {
    color: lightgrey;
    width: 100%;
    height: 1px;
}

#social-media-div-header {
    display: none;
}

#contactanos-header {
    display: none;
}

main {
    position: relative;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

main::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.53);
    z-index: 1;
}

main > * {
    position: relative;
    z-index: 10;
}

section {
    background-color: var(--whiteColor);
}

#section-statement {
    padding-bottom: 0rem;
    overflow: hidden;
    background-color: black;
}

#slider {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

.flickity-page-dots {
    bottom: 25px !important;
}


.flickity-page-dots .dot {
    width: 10px;
    height: 10px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 5px;
    opacity: 1;
    transition: background 0.3s ease;
}
  

.flickity-page-dots .dot.is-selected {
    background: white;
}
  

#slides {
    width: 100%;
    height: 48rem;
}

.slide {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.slide-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

.img-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.slide .img-overlay {
    background-color: #333333;
    opacity: 0.8;
}

.slider-side-button {
    position: absolute;
    top: 50%;
    z-index: 250;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .25s ease;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    min-height: unset;
    padding: 0;
        padding-left: 0px;
    background-color: transparent;
    color: var(--arrow-color);
    font-weight: 400;
}

.slider-side-button::after {
    font-size: 24px;
    line-height: 1;

}

#slider-button-right::after {
    content: "\f113";
    font-family: "woodmart-font";
}

.statement-slide-div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
  
#section-statement .common-padding {
    position: relative;
    color: var(--whiteColor);
    padding-top: 6rem;
    padding-bottom: 2rem;
    background-image: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    text-align: left;
    z-index: 20;
}

#bg1::before,
#bg2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.53);
    z-index: 0;
}

#bg1::before,
#bg2::before > * {
    position: relative;
    color: var(--whiteColor);
    z-index: 20;
}

#section-statement h1 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    word-wrap: break-word;
    margin-bottom: 2rem;
}

#section-statement p {
    color: var(--whiteColor);
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 1rem 0;
}

.moving-text, .moving-servicio {
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s ease-in-out;
}

.moving-text.visible, .moving-servicio.visible {
    opacity: 1;
    transform: translateY(0%);
}

.fade-in-element {
    opacity: 0;
    transition: all 2s ease-in-out;
}

.fade-in-element.visible {
    opacity: 1;
}

.div-double-button-container {
    display: flex;
    justify-content: left;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;   
}

.call-to-action, .info-button, .a-contacto {
    all: unset;
    font-family: var(--primaryFont);
    font-size: 1rem;
    font-weight: 700;
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    border-radius: 8px;
    text-transform: uppercase;
    cursor: pointer;
    height: fit-content;
}

.call-to-action, .a-contacto {
    padding: 1rem 2rem;
    color: var(--blackColor);
    background-color: var(--strongColor);
}

.call-to-action {
    color: var(--whiteColor);
    transition: background-color 0.1s ease-in-out;
}

.call-to-action:hover {
    background-color: #33af25;
    transition: background-color 0.1s ease-in-out;
}

#section-statement .call-to-action {
    padding: 0 1.25rem;
}

#section-statement .info-button {
    margin-left: 1rem;
    border: 1px solid grey;
    transition: border 0.1s ease-in-out;
}

#section-statement .info-button:hover {
    margin-left: 1rem;
    border: 1px solid var(--whiteColor);
    transition: border 0.1s ease-in-out;
}

#section-servicios {
    position: relative;
    z-index: 11;
}

#section-servicios .img-overlay {
    background-color: #EAEAEA;
    opacity: 0.90;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

#section-servicios .bg-img {
    height: 100%;
}

#section-servicios .common-padding {
    position: relative;
    padding: 2rem 0 3rem;
}

#section-servicios .text-container:first-child {
    padding-top: 3rem;
}

#section-servicios ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.li-servicio {
    position: relative;
    margin-bottom: 1rem;
    padding: 10px 10px 16px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    max-width: 50%;
    transition: transform .3s ease;
}

.li-servicio:hover {
    z-index: 20;
    background-color: var(--whiteColor);
    transform: translateY(-5px) translateZ(0);
}

.servicio-content {
    display: flex;
    flex-direction: column;
    position: relative;
}

.servicio-content-imagin {
    position: absolute;
    inset: -15px -15px -2px -15px;
    top: -15px;
    visibility: hidden;
    border: inherit;
    border-radius: 20px;
    background-color: var(--whiteColor);
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    opacity: 0;
    transform: scale(0.98);
    margin-bottom: -130.8px;
}

.li-servicio:hover .servicio-content-imagin {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s ease, visibility .0s ease, transform .3s ease;
    transform: scale(1);
}

.li-servicio:hover .servicio-content-imagin.active {
    margin-bottom: -288.8px;
}

.li-servicio img {
    border-radius: 20px;
    position: relative;
}

.li-servicio:hover img {
    margin-block: 0;
} 

.li-servicio .servicio-info {
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-block: 0;
}

.li-servicio h3 {
    font-size: 0.875rem;
    line-height: 1rem;
    text-transform: none;
    margin-bottom: 1rem;
}

.servicio-hidden-block {
    display: flex;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    inset-inline: 0;
    opacity: 0;
    margin-block: 0;
}

.li-servicio:hover .servicio-hidden-block {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s ease, visibility .0s ease;
    top: 100%;
    padding: 0 10px 50px 10px;
}

.li-servicio .text-container {
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    max-height: 80px;
    padding-top: 0 !important;
}

.li-servicio:hover .text-container {
    height: 220px;
}

.li-servicio:hover .text-container.active {
    height: auto;
    max-height: 224px;
    margin-bottom: 0.75rem;
    overflow: scroll;
}

.li-servicio-texto {
    font-size: 0.75rem;
    line-height: 1rem;
    max-width: 90%;
}

.li-servicio:hover .li-servicio-texto {
    visibility: visible;
}

.three-dots-button-div {
    position: absolute;
    inset-inline: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 18px 0 8px;
    margin: 0 auto;
    width: 100%;
    background: #fff;
    background: linear-gradient(0deg, rgb(255, 255, 255) 60%, rgba(255, 255, 255, 0) 100%);
}

.three-dots-button-div:hover {
    cursor: pointer;
}

.three-dots-button-div.active {
    visibility: hidden;
}

.dot {
    width: 4px;
    height: 4px;
    background-color: var(--greyColor);
    border-radius: 50%;
    margin: 0;
}

.li-servicio .button-container {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.li-servicio:hover .button-container {
    top: 100%;
    visibility: visible;
    box-shadow: 0 -10px 16px white;
    opacity: 1;
}

.li-servicio .call-to-action {
    font-size: 0.875rem;
    padding: 0.75rem 1.5rem;
}

.li-servicio.moving-text {
    transform: translateY(25%);
}

.li-servicio.moving-text.visible {
    transform: translateY(0%);
}

.svg-container {
    margin: 1rem auto;
    padding: 2rem;
    background-color: var(--strongColor);
    border-radius: 200px;
    width: fit-content;
}

.li-servicio svg {
    max-width: 3rem;
    height: auto;
}

.info-button {
    padding: 0 1.5rem;
    color: var(--whiteColor);
}

#section-nosotros {
    padding-top: 4rem;
    padding-bottom: 2rem;
    background-color: var(--whiteColor);
}

#section-nosotros h3::after {
    left: 0;
}

#section-medios-de-pago h3::after, 
#section-contacto h2::after {
    content: none;
}

#section-nosotros img {
    border-radius: 20px;
}

#section-nosotros img.moving-img {
    opacity: 0;
    scale: 0.5;
    transition: opacity 0.4s ease-in-out 0.3s, scale 0.3s ease-in-out 0.3s;
}

#section-nosotros img.moving-img.visible {
    opacity: 1;
    scale: 1;
    -webkit-animation: slide-rotate-ver-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation: slide-rotate-ver-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

@-webkit-keyframes slide-rotate-ver-right {
    0% {
      -webkit-transform: translateX(0) rotateY(0);
              transform: translateX(0) rotateY(0);
    }
    100% {
      -webkit-transform: translateX(30px) rotateY(-90deg);
              transform: translateX(30px) rotateY(-90deg);
    }
  }
  @keyframes slide-rotate-ver-right {
    0% {
      -webkit-transform: translateX(0) rotateY(0);
              transform: translateX(0) rotateY(0);
    }
    100% {
      -webkit-transform: translateX(30px) rotateY(-90deg);
              transform: translateX(30px) rotateY(-90deg);
    }
  }

#nosotros-quienes-somos .text-container {
    max-width: 80%;
}

#nosotros-vision {
    position: relative;
    overflow: hidden;
}

#nosotros-vision .common-padding {
    position: relative;
    color: var(--whiteColor);
    text-align: left;
}

#nosotros-vision .img-overlay {
    background-color: #333333;
    opacity: 0.8;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

#nosotros-vision h3, 
#nosotros-vision p {
    color: var(--whiteColor);
}

.bg-img {
    position: absolute;
    left: 0;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
    border-radius: 0 !important;
}

#nosotros-vision .bg-img {
    height: 45rem;
    scale: 2;
}

#nosotros-mision .text-container {
    text-align: left;
}

#section-nosotros .common-padding {
    padding-bottom: 2rem;
}

#section-nosotros p {
    margin-bottom: 0.5rem;
}

#section-nosotros .button-container {
    margin: 2rem 0 1rem;
}

#section-nosotros .common-padding img {
    margin: 2rem 0;
}

#section-nosotros .text-container.moving-text {
    transform: translateY(10%);
}

#section-nosotros .text-container.moving-text.visible {
    transform: translateY(0%);
}

#section-beneficios {
    position: relative;
    z-index: 1;
    padding: 4rem 0 1rem;
    background-color: #F9F9F9;
}

#section-beneficios h2 {
    max-width: 10ch;
}

#section-beneficios ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    padding: 0 8px;
}

.li-beneficio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    background-color: var(--whiteColor);
    border-radius: 20px;
    padding: 1rem 2rem 2rem;
}

.li-beneficio.visible {
    -webkit-animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-tl {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-tl {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
      opacity: 1;
    }
  }

.dynamic-number {
    font-size: 4rem;
    font-weight: 900;
    color: var(--strongColor);
    margin-left: 0;
}

.li-beneficio-text {
    font-size: 1.25rem;
    margin-left: 0;
    font-weight: bold;
    margin-bottom: 1rem;
}

.li-beneficio-p {
    font-size: 0.875rem;
    color: var(--greyColor);
    line-height: 1.25rem;
}

.li-beneficio:hover {
    background: #106107;
    background: linear-gradient(0deg, rgba(16, 97, 7, 1) 0%, rgba(43, 191, 27, 1) 100%);
    transition: all 0.3s ease-in-out;
}

.li-beneficio:hover .dynamic-number,
.li-beneficio:hover .li-beneficio-text,
.li-beneficio:hover .li-beneficio-p {
    color: var(--whiteColor);
    transition: all 0.3s ease-in-out;
}

#section-galeria {
    background-color: #F9F9F9;
}

#section-galeria .common-padding {
    padding: 2rem 0 3rem;
}

#section-galeria .text-container {
    text-align: center;
    margin-bottom: 2rem;
}

.scroll-container {
    width: 80%;
    margin: 0 auto;
}

.scroll-container .slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 0 auto !important;
}

.scroll-container .slick-slide img {
    width: auto;
    height: 100%;
    margin: 0;
}

.slick-dotted.slick-slider {
    margin-bottom: 4rem !important;
}

.slick-prev::before, .slick-next::before {
    color: black !important;
}

.slick-prev, .slick-next {
    color: black !important;
}

#section-medios-de-pago {
    padding: 3rem 0;
}

#section-medios-de-pago, #section-contacto {
    z-index: 1;
}

#section-medios-de-pago .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.25rem;
    text-align: left;
    border-left: 2px solid var(--strongColor);
    background-color: #f9f9f9;
}

#section-medios-de-pago h3 {
    margin: 0;
}

#section-medios-de-pago p {
    padding: 1.25rem 0;
}

#section-medios-de-pago .call-to-action {
    text-align: center;
    padding: 0;
}

#section-contacto h2,
#section-contacto h3,
#section-contacto p {
    color: var(--whiteColor);
}

#section-contacto .img-overlay {
    background-color: #333333;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

#section-contacto h2 {
    margin-bottom: 1rem;
}

#section-contacto .common-padding {
    position: relative;
}

#section-contacto .bg-img {
    height: 100%;
}

#section-contacto .text-container {
    padding: 4rem 1rem 2rem;
    text-align: left;
}

#ul-medios-de-contacto {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1rem 0;
}

#ul-medios-de-contacto p {
    margin-top: 1rem;
}

.div-medio-de-contacto-titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.div-medio-de-contacto-titulo h3 {
    margin: 0;
}

form {
    padding: 0 1rem;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.form-div-subject {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.form-div-subject.last {
    margin-top: 2rem;
}

.form-div-subject label {
    font-size: var(--bodyFontSize);
    color: var(--whiteColor);
    margin-bottom: 0.5rem;
    margin-left: 0;
    text-align: left;
}

.form-div-subject input {
    font-family: var(--bodyFontSize);
    font-size: var(--bodyFontSize);
    width: 100%;
    height: 36px;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: whitesmoke;
}

.form-div-subject textarea {
    font-family: var(--bodyFontSize);
    font-size: var(--bodyFontSize);
    width: 100%;
    height: 24vh;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: whitesmoke;
}

#div-contact-form-button {
    text-align: left;
    margin: 2rem;
    margin-left: 0;
}

#div-contact-form-button button {
    line-height: 1rem;
}

#media-contacto-wpp {
    scale: 0.8;
}

.div-medio-de-contacto-titulo svg path {
    fill: var(--whiteColor);
}

iframe {
    max-width: 100%;
    padding-bottom: 1rem;
}

footer {
    padding-top: 2rem;
    background-color: #212121;
    color: var(--whiteColor);
}

footer .section-padding {
    padding-bottom: 0;
}

footer a:hover {
    cursor: pointer;
    color: var(--strongColor);
    transition: all 0.2s ease;
}

#footer-div-top-logo {
    margin: 0;
    padding: 1rem 0;
    height: auto;
    align-self: left;
    border-radius: 0;
}

#footer-div-top {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 1rem;
}

.footer-section {
    text-align: center;
    margin: 1rem 0;
    text-align: left;
    font-size: 0.875rem;
    line-height: 1rem;
}

footer h4 {
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

footer p {
    line-height: 1.5rem;
    color: var(--whiteColor);
}

footer ul li {
    margin: 0;
    padding: 0.5rem 0;
}

#footer-div-top-contacto li {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

#footer-div-top-contacto .contacto-title {
    font-weight: bold;
    margin-left: 0;
}

#footer-div-top-contacto .contacto-text {
    margin-left: 0;
}

#footer-top-seguinos ul {
    display: flex;
    justify-content: left;
    gap: clamp(4%, 1.25rem, 8%);
    align-content: center;
}

.social-media-link svg {
    width: 2rem;
    height: auto;
}

.social-media-link path {
    fill: var(--whiteColor);
}

.social-media-link svg:hover path {
    fill: var(--strongColor);
    transition: all 0.2s ease;
}

footer hr {
    color: initial;
}

#footer-p-copyright {
    max-width: none;
    text-align: center;
    padding: 1.5rem;
}

.wsp-flotante {
    width: 82px;
    height: 82px;
    cursor: pointer;
    border-radius: 60px;
    border: none;
    background-color: #25D366;
    position: fixed;
    bottom: 20px;
    right: 0;
    translate: -30% 0;
    z-index: 10000;
    display: grid;
    place-content: center;
    transition: all 0.3s;
    padding: 0.75rem;
    box-shadow: 0px 0px 6px rgb(99, 99, 99);
}

.wsp-flotante svg {
    width: 100%;
    height: auto;
}

.wsp-flotante svg path {
    fill: var(--whiteColor);
}

@media (min-width: 996px) {
    #header-padding {
        width: 100%;
        max-width: 90rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.25rem 4%;
        z-index: 1000;
    }

    header {
        height: 138px;
        transition: background-color 0.3s ease-in-out, height 0.3s ease-in-out;
    }

    header.scrolled {
        height: 110px;
    }

    .header-div-top {
        display: none;
        padding: 0;
        height: initial;
        background-color: transparent;
    }

    .header-div-logo-container {
        max-width: 150px;
        width: 40%;
    }

    .header-div-logo-container img {
        position: initial;
        width: auto;
        height: 3rem;
        top: 0;
        bottom: 0;
        margin-top: 0;
        transition: all 0.5s ease-in-out;
    }

    .header-div-logo-container img.visible {
        scale: 1.05;
    }

    #header-logo-container-desktop {
        display: initial;
        margin: 0 30px;
    }

    #header-logo-container-desktop:hover {
        cursor: pointer;
    }

    #header-logo-container-desktop a.desktop {
        display: inline-block;
        width: 190px;
        height: auto;
    }

    #header-logo-container-desktop img {
        padding: 5px 0;
    }

    #hamburguer-menu-icon {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: initial;
        top: initial;
        left: initial;
        transform: none;
        margin-left: 0;
        margin-right: 0;
        background-color: transparent;
        align-items: center;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        padding-right: 36px;
        transition: scale 0.1s ease-in-out;
    }

    header.scrolled nav ul {
        scale: 0.9;
        transition: scale 0.3s ease-out;
    }

    nav ul li, .nav-li-element {
        font-family: var(--primaryFont);
        font-size: 1rem;
        margin: 0;
        padding: 0 1rem;
        color: var(--whiteColor);
    }

    nav hr {
        display: none;
    }

    #social-media-div-header, #contactanos-header {
        display: inline-block;
        margin: 0;
    }

    #social-media-div-header .social-media-link {
        padding: 0;
    }

    #social-media-div-header ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: left;
    }

    #social-media-div-header .social-media-link svg {
        width: 2.8rem;
        height: auto;
        border: 1px solid white;
        border-radius: 48px;
        padding: 0.5rem;
    }

    #contactanos-header {
        padding: 0.5rem 2rem;
        border: solid 1px grey;
        border-radius: 8px;
        cursor: pointer;
    }

    #contactanos-header:hover {
        border: solid 1px var(--whiteColor);
        transition: border 0.1s ease-in-out;
    }

    .common-padding {
        padding: clamp(4vh, 2rem, 42vh) 4% 6rem;
    }

    .bg-layer {
        background-size: 80%;
    }

    #slides {
        height: 48rem;
    }

    #section-statement .common-padding {
        display: flex;
        flex-direction: column;
        padding-top: 8rem;
        width: 90%;
        background-size: 50%;
        text-align: left;
    }

    #div-statement-h1 {
        margin-left: 0;
    }

    #section-statement h1 {
        font-size: 2.875rem;
        max-width: 27ch;
        margin-bottom: 0.5rem;
    }

    #section-statement p, #section-statement .div-double-button-container {
        margin-left: 0;
    }

    #section-statement .div-double-button-container {
        padding-top: 1.5rem;
    }

    #section-servicios .common-padding {
        padding-top: 0;
        height: 64rem;
    }

    #section-servicios .text-container:first-child {
        padding-top: 8rem;
    }

    #section-statement p {
        max-width: 50%;
        margin: 0.5rem 0;
    }

    #section-servicios ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
        grid-template-rows: repeat(2, 150px); /* 2 rows, 150px tall each */
        gap: 10px; /* space between grid items */
        row-gap: 240px;
        padding: 10px;
    }

    .li-servicio {
        max-width: 100%;
        padding-bottom: 0;
    }

    .li-servicio .servicio-hidden-block {
        position: relative;
    }

    .li-servicio:hover .servicio-hidden-block {
        padding-bottom: 0;
    }

    .li-servicio:hover .servicio-content-imagin, 
    .li-servicio:hover .servicio-content-imagin.active {
        margin-bottom: -4px;
    }

    .li-servicio h3 {
        margin-bottom: 0.625rem;
    }

    .li-servicio h3::after {
        content: none;
    }

    .li-servicio p {
        max-width: none;
        font-size: 0.875rem;
        line-height: 1.5rem;
        padding: 0 10px;
    }

    .li-servicio svg {
        max-width: 4.5rem;
    }

    .three-dots-button-div {
        background: linear-gradient(0deg, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0) 100%);
    }

    #section-nosotros .common-padding {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4rem;
        align-items: center;
        text-align: left;
        padding-bottom: 4rem;
    }

    #section-nosotros h3 {
        font-size: 2.25rem;
    }

    #nosotros-vision .common-padding,
    #nosotros-mision .common-padding {
        padding-left: 6%;
        padding-right: 6%;
        padding-bottom: 2rem;
    }

    #nosotros-vision .common-padding picture, 
    #nosotros-vision .text-container, 
    #nosotros-mision .common-padding picture, 
    #nosotros-mision .text-container {
        width: 50%;
    }

    #nosotros-vision img,
    #nosotros-mision img {
        width: 100%;
    }

    #nosotros-mision .common-padding {
        flex-direction: row-reverse;
    }

    h2 {
        font-size: 2.25rem;
        line-height: 2.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .small-title {
        font-size: 1.125rem;
    }

    #nosotros-quienes-somos .text-container {
        text-align: center;
    }

    #section-beneficios .common-padding {
        padding-bottom: 2rem;
    }

    #section-beneficios ul {
        flex-direction: row;
        gap: 2rem;
        padding: 2rem 0;
    }

    .li-beneficio {
        width: 100%;
    }

    #section-beneficios {
        padding-bottom: 1rem;
    }

    #section-galeria .text-container {
        margin-bottom: 4rem;
    }

    #div-galeria {
        display: flex;
        justify-content: center;
    }

    #div-galeria ul.scroll-container {
        margin: 0;
    }

    .scroll-container .slick-slide {
        margin-right: 0;
        width: 25%;
        height: 300px;
        padding: 0 10px;
    }

    .scroll-container .slick-slide img {
        display: block;
        width: 300px;
        height: auto;
        object-fit: cover;        /* ensures consistent layout if images differ */
      }

    #section-medios-de-pago {
        padding: 0;
        padding-top: 1rem;
    }

    #section-medios-de-pago .common-padding {
        padding: 1rem 10%;
    }

    #section-medios-de-pago .content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #section-medios-de-pago p {
        padding: 0;
    }

    #section-medios-de-pago .text-container {
        margin: 0;
        padding: 1.5rem;
    }

    #section-medios-de-pago .call-to-action {
        padding: 0 1.5rem;
        font-size: 1rem;
    }

    #section-contacto h2 {
        font-size: 2rem;
    }

    #section-contacto h3 {
        font-size: 1.125rem;
    }

    .div-medio-de-contacto-titulo svg {
        max-width: 1.25rem;
        max-height: 1.25rem;
    }

    #section-contacto .common-padding {
        padding-bottom: 2rem;
    }

    #contacto-flex-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    #contacto-flex-container .content-container {
        max-width: 50%;
    }

    .form-div-subject textarea {
        height: 12rem;
    }

    #contacto-flex-container iframe {
        height: 48rem;
    }

    footer .common-padding {
        padding-bottom: 0;
    }

    #footer-div-top {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    #footer-div-top > * {
        width: 20%;
        gap: 1rem;
    }

    #footer-div-top-logo {
        max-width: 30%;
    }

    .footer-section {
        text-align: left;
    }

    #footer-top-seguinos ul {
        text-align: left;
    }

    footer hr {
        display: none;
        border: solid 1px rgb(61, 61, 61);
        width: 70%;
    }
}